@model PutMeOnTheList_BlakeShaw.Models.Attendee
@{
    ViewData["Title"] = "Attendees";
}

<h2>Attendees</h2>

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Date: @Model.Date</p>
<p>Email: @Model.Email</p>
<p>Guest Name: @Model.GuestName</p>


