@model StillWorkingThatList_BlakeShaw.Models.Guest

@{
    ViewBag.Title = "Unregister";
}

<h2>Unregister</h2>

<h3>Are you sure you want to unregister?</h3>
<div>
    <h4>Guest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dish.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dish.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guest1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unregister" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
